<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAA9SfvDrF-Z3PMcs2SGl8FQRzficumLno</string>
	<key>GCM_SENDER_ID</key>
	<string>456103746725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymtrack</string>
	<key>PROJECT_ID</key>
	<string>gymtrackapp-a2e77</string>
	<key>STORAGE_BUCKET</key>
	<string>gymtrackapp-a2e77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456103746725:ios:b1df534468878f2cb8414c</string>
</dict>
</plist>