<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>456103746725-2tdltge4moa35o0hu9vhfin7gj8ieb6k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.456103746725-2tdltge4moa35o0hu9vhfin7gj8ieb6k</string>
	<key>API_KEY</key>
	<string>AIzaSyDwZc7_J0sZiAtVZrAdizfP7V4NAEjcQTI</string>
	<key>GCM_SENDER_ID</key>
	<string>456103746725</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tryagain.gymtrack</string>
	<key>PROJECT_ID</key>
	<string>gymtrackapp-a2e77</string>
	<key>STORAGE_BUCKET</key>
	<string>gymtrackapp-a2e77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:456103746725:ios:e563d0b6e7b4d5d0b8414c</string>
</dict>
</plist>