<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKDwfEj-6clPyUSfv38K-QCidkcOSC258</string>
	<key>GCM_SENDER_ID</key>
	<string>403920796419</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gymtrack</string>
	<key>PROJECT_ID</key>
	<string>gymtrack-cb100</string>
	<key>STORAGE_BUCKET</key>
	<string>gymtrack-cb100.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:403920796419:ios:cc76fc1dfe809432b68736</string>
</dict>
</plist>